body {
  background-color: #1f2937;
  color: rgb(255, 255, 255);
  font-size: 30;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
}
ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: inline;
  padding: auto;
  font-family: "Courier New", Courier, monospace;
}

li {
  float: right;
  display: inline;
  padding: auto;
}

li a {
  display: block;
  color: rgb(255, 210, 210);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


