html,
body {
  margin: 0;
  padding: 0;
}
header {
  padding: 0 15px;
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;

}
main {
  margin: 5%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.header {
  width: 100%;
  background-color: #1f2937;
  
}
.nav-tabs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction:;
  position:static;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 12px;
}
a {
  text-decoration: none;
}
.nav-tabs {
  font-size: 22px;
  color: rgb(85, 85, 85);
}